.img2{
    
    position: absolute;
    justify-content: center;
    left: 44.00%;
    bottom: 0%;
    top: 0%;
}

.img1 {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    border-radius: 0px;
    position: absolute;
    width: auto;
    height: auto;
    left: 0px;
    top: 130px;
}
.parte-1 {
    height: 130px;
    width: auto;
    left: 0px;  
    top: 0px;
    border-radius: 0%;
    position: absolute;
    left: 0%;
    right: 0%;
    top: 0%;
    bottom: 0%;

    background: #85CDF5;
}


.parte-2{
    position: absolute;
    text-align: center;
    width: 1401px;
    height: 330px;
    left: 0px;
    top: 773px;
    width: 100%;
    background-color: #2C5680
    
}   
.texto-2{
    position: absolute;
    width: 1000px;
    height: 132px;
    left: 20%;
    top: 50px;
    padding: 20px 10px;
    line-height: 1.8em;
    font-family: 'Open Sans';
    font-size: 1.4em;
    display: block;
    color: #fff;
    font-weight: 200;
    text-align: center;
}
.texto-3{
    margin: 0;
    padding: 20px 10px;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #ffbe00;
    font-size: 3em;
    font-weight: bolder;
}
.texto-4{
    position: absolute;
    top: 25%;
    width: 100%;
    padding: 20px 10px;
    box-sizing: border-box;
    margin: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
    color: #fff;
    text-align: center;
    font-size: 2em;
    font-weight: bolder;
}